body {
    background-color: #0A1732;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #FFF;
    
  }
.alert {
  font-size: 18px;
}

  @media screen and (min-width: 998px){
    body {
      padding: 3em;
    }
  }

  @media screen and(max-width: 997){
    body{
      padding: 1em;
    }
  }

  @media screen and (min-width: 1101px){

    .row-form{
      padding: 0.5em;
      background-image: url('../img/seguranca.png');
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: contain;
      background-position-x: 95%;
      
    }
  }

  @media screen and (max-width: 1100px){
    .row-form{
      padding: 0.5em;
      background-image: url('../img/seguranca.png');
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: 12em;
      background-position-x: 100%;
      background-position-y: 1em;
      
    }
  }

  @media screen and (max-width: 850px){
    .row-form{
      padding: 0.5em;
      background-image: url('../img/seguranca.png');
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: 11em;
      background-position-x: 100%;
      background-position-y: 2em;
      
    }
  }
@media screen and (max-width: 767px){
  
  .row-form{
    background-image:  none;    
  }
}
@media screen and (max-width: 998px){
  .row-title {
    padding-top: 2em;
  }
}
@media screen and (max-width: 767px){
  #icon-image{
    width: 5em;
  }
}

@media screen and (min-width: 768px){
  #icon-image{
    display: none;
  }
}

@media screen and (max-width: 360px){
  #icon-image{
    display: none;
  }
}

.btn-round{
    border-radius: 2em;
}

.btn-gold{
    background-color: gold;
}

  h1{
    font-family: 'Rock Salt', cursive;
    color: #FFF;
  }

  #resultField{
      margin: .5em;
  }

.table{
  margin-top: 1em;
  font-size: 18px;
  color: gold;
  border: 0.5px;
}

.table i {
  color: coral;
}